@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --cor1:#F2DFF2;
    --cor2:#D705F2;
    --cor3:#417CF2;
    --cor4:#EAF205;
}
*{
    margin:0px;
    padding:0px;
}

header{
    height:300px;
    box-shadow:0px 1px 7px 0px rgba(0, 0, 0, 0.425);
    background-color:var(--cor3);
    padding:10px;

    background-image: url('../imagens/fundo-03.jpg');
    background-size:90px;
}
header>h1{
    position:absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%);

    
    color:var(--cor1);
    text-align:center;
    font:bold 5em 'pacifico', arial, sans-serif;
}
#hora{
    font:bolder 2.5em arial, helvetica, sans-serif;
}
body{

}
main{
    background-color: rgb(255, 255, 255);
    max-width:1000px;
    min-width:250px;
    margin:auto;
    padding-top:30px;
}
section> p{

    display:inline-block;
    height: 100px;
    width: 400px;
    /*border:1px solid black;*/
    font:300 3em arial, helvetica, sans-serif;
    text-indent:10px;
    text-align:center;
    vertical-align: 150px;
    
}
section>img{
    display: inline-block;
    margin-bottom:50px;
    width:300px;
}
#meio p{
    display:inline-block;
    height: 100px;
    width: 400px;
    /*border:1px solid black;*/
    font:300 3em arial, helvetica, sans-serif;
    text-indent:10px;
    text-align:center;
    vertical-align: 150px;
}
#meio img{
    display: inline-block;
    margin-bottom:50px;
    width:300px;
}
#meio>div{
    float:right;
}
